<select class="pull-right" ng-model="orderby">
    <option value="-rating">Rating DESC</option>
    <option value="rating">Rating ASC</option>
    <option value="-date">Year DESC</option>
    <option value="date">Year ASC</option>
    <option value="-title">Title DESC</option>
    <option value="title">Title ASC</option>
</select>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Rating</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | orderBy:orderby">
            <td>
                <img ng-src="{{ item.poster_url }}" height="150">
            </td>
            <td>{{ item.title }}</td>
            <td>{{ item.rating }}</td>
            <td>{{ item.date | date:"yyyy" }}</td>
        </tr>
    </tbody>
</table>
